import { Slider } from "@/components/ui/slider";

export function SliderComponent() {
	return <Slider defaultValue={[{{ slider.defaultValue }}]} max={ {{ slider.max }} } step={ {{ slider.step }} } />;
}
