import {
	HoverCard,
	HoverCardContent,
	HoverCardTrigger,
} from "@/components/ui/hover-card";

export function HoverCardDemo() {
	return (
		<HoverCard>
			<HoverCardTrigger>{{ trigger }}</HoverCardTrigger>
			<HoverCardContent>
				{{ content }}
			</HoverCardContent>
		</HoverCard>
	);
}
