import {
	Tooltip,
	TooltipContent,
	TooltipProvider,
	TooltipTrigger,
} from "@/components/ui/tooltip";

export function TooltipComponent() {
	return (
		<TooltipProvider>
			<Tooltip>
				<TooltipTrigger>{{ trigger }}</TooltipTrigger>
				<TooltipContent>
					<p>{{ content }}</p>
				</TooltipContent>
			</Tooltip>
		</TooltipProvider>
	);
}
