import { Label } from "@/components/ui/label";
import { Textarea } from "@/components/ui/textarea";

export function TextareaLabelComponent() {
	return (
		<div className="grid w-full gap-1.5">
			<Label htmlFor="{{ id }}">{{ label }}</Label>
			<Textarea placeholder="{{ placeholder }}" id="{{ id }}" />
		</div>
	);
}
