{%- set allowed_modes = ["default", "multiple", "range", "single"] -%}
{%- set mode = mode if mode in allowed_modes else "single" -%}

"use client";

import * as React from "react";

import { Calendar } from "@/components/ui/calendar";

export function CalendarComponent() {
	const [date, setDate] = React.useState<Date | undefined>(new Date());

	return (
		<Calendar
			mode="{{ mode }}"
			selected={date}
			onSelect={setDate}
			className="rounded-md border shadow"
		/>
	);
}
