{% for import_line in content_imports %}
{{ import_line }}
{% endfor %}
{% for import_line in footer_imports %}
{{ import_line }}
{% endfor %}

import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";

export function CardComponent() {
    return (
        <Card>
            <CardHeader>
                <CardTitle>{{ header.title }}</CardTitle>
                <CardDescription>{{ header.description }}</CardDescription>
            </CardHeader>
            <CardContent>
				{% for ctn in content %}
                {{ ctn }}
				{% endfor %}
            </CardContent>
            <CardFooter>
                {{ footer }}
            </CardFooter>
        </Card>
    );
}