import {
	DropdownMenu,
	DropdownMenuContent,
	DropdownMenuItem,
	DropdownMenuLabel,
	DropdownMenuSeparator,
	DropdownMenuTrigger,
} from "@/components/ui/dropdown-menu";

export function DropdownMenuComponent() {
	return (
		<DropdownMenu>
			<DropdownMenuTrigger>{{ trigger }}</DropdownMenuTrigger>
			<DropdownMenuContent>
				<DropdownMenuLabel>{{ label }}</DropdownMenuLabel>
				<DropdownMenuSeparator />
				{% for item in content.items %}
				<DropdownMenuItem>{{ item }}</DropdownMenuItem>
                {% endfor %}
			</DropdownMenuContent>
		</DropdownMenu>
	);                

}
