import { Tabs, TabsContent, TabsList, TabsTrigger } from "@/components/ui/tabs";

export function TabsComponent() {
	return (
		<Tabs defaultValue="{{ defaultValue }}" className="w-[400px]">
			<TabsList>
                {% for item in list.trigger %}
				<TabsTrigger value="{{ item.value }}">{{ item.label }}</TabsTrigger>
                {% endfor %}
			</TabsList>
            {% for item in content %}
			<TabsContent value="{{ item.value }}">
				{{ item.label }}
			</TabsContent>
            {% endfor %}
		</Tabs>
	);
}
