import { {{ icon }} } from "lucide-react";

import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert";

export function AlertComponent() {
	return (
		<Alert>
			<{{ icon }} className="h4 w-4" />
			<AlertTitle>{{ title }}</AlertTitle>
			<AlertDescription>
				{{ description }}
			</AlertDescription>
		</Alert>
	);
}
