import { {{ alert.children.icon.name }} } from "lucide-react";

import { Alert, AlertDescription, AlertTitle } from "@/components/ui/alert";

export function AlertComponent() {
	return (
		<Alert>
			<{{ alert.children.icon.name }} className="{{ alert.children.icon.className }}" />
			<AlertTitle>{{ alert.children.title.children }}</AlertTitle>
			<AlertDescription>
				{{ alert.children.description.children }}
			</AlertDescription>
		</Alert>
	);
}
