import {
	Collapsible,
	CollapsibleContent,
	CollapsibleTrigger,
} from "@/components/ui/collapsible";

export function CollapsibleComponent() {
	return (
		<Collapsible>
			<CollapsibleTrigger>{{ trigger }}</CollapsibleTrigger>
			<CollapsibleContent>
				{{ content }}
			</CollapsibleContent>
		</Collapsible>
	);
}
