import {
	AlertDialog,
	AlertDialogAction,
	AlertDialogCancel,
	AlertDialogContent,
	AlertDialogDescription,
	AlertDialogFooter,
	AlertDialogHeader,
	AlertDialogTitle,
	AlertDialogTrigger,
} from "@/components/ui/alert-dialog";
import { Button } from "@/components/ui/button";

export function AlertDialogComponent() {
	return (
		<AlertDialog>
			<AlertDialogTrigger asChild>
				<Button variant="{{ trigger.variant }}">{{ trigger.text }}</Button>
			</AlertDialogTrigger>
			<AlertDialogContent>
				<AlertDialogHeader>
					<AlertDialogTitle>{{ content.header.title }}</AlertDialogTitle>
					<AlertDialogDescription>
						{{ content.header.description }}
					</AlertDialogDescription>
				</AlertDialogHeader>
				<AlertDialogFooter>
					<AlertDialogCancel>{{ content.footer.cancel }}</AlertDialogCancel>
					<AlertDialogAction>{{ content.footer.action }}</AlertDialogAction>
				</AlertDialogFooter>
			</AlertDialogContent>
		</AlertDialog>
	);
}
