{%- set allowed_variants = ["default", "destructive", "outline", "secondary"] -%}
{%- set variant = variant if variant in allowed_variants else "default" -%}

import { Badge } from "@/components/ui/badge";

export function BadgeComponent() {
	return <Badge{% if variant != 'default' %} variant="{{ variant }}"{% endif %}>{{ text }}</Badge>;
}
