import {
	Select,
	SelectContent,
	SelectItem,
	SelectTrigger,
	SelectValue,
} from "@/components/ui/select";

export function SelectComponent() {
	return (
		<Select>
			<SelectTrigger className="w-[180px]">
				<SelectValue placeholder="{{ trigger.placeholder }}" />
			</SelectTrigger>
			<SelectContent>
                {% for item in items %}
				<SelectItem value="{{ item.value }}">{{ item.label }}</SelectItem>
                {% endfor %}
			</SelectContent>
		</Select>
	);
}
